In [1]:
!pip install numpy
!pip install pandas

Collecting numpy
  Using cached numpy-1.21.6-cp37-cp37m-win_amd64.whl (14.0 MB)
Installing collected packages: numpy
Successfully installed numpy-1.21.6
Collecting pandas
  Using cached pandas-1.3.5-cp37-cp37m-win_amd64.whl (10.0 MB)
Requirement already satisfied: numpy>=1.17.3 in d:\uni\fleet_track_cost_predictor\model\env\lib\site-packages (from pandas) (1.21.6)
Collecting pytz>=2017.3
  Downloading pytz-2022.2.1-py2.py3-none-any.whl (500 kB)
     -------------------------------------- 500.6/500.6 kB 2.2 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7.3 in d:\uni\fleet_track_cost_predictor\model\env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in d:\uni\fleet_track_cost_predictor\model\env\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.3.5 pytz-2022.2.1

In [2]:
import numpy as np
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/kalitha99/cost_moodel/main/laptop_price%20(1).csv"
data = pd.read_csv(url,encoding='latin-1')
data.head()

,ID,numberOfServices,numberOfInsuarance,numberOfLicense,monthlyCost,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1,1,1,1,100000,NaN,srvice 25000,25000.0
1,2,2,1,1,125000,NaN,insuarance 70000,70000.0
2,3,3,1,1,150000,NaN,license 5000,5000.0
3,4,4,1,1,175000,NaN,NaN,NaN
4,5,5,1,1,200000,NaN,NaN,NaN

In [4]:
data.corr()['monthlyCost']

ID                    0.183197
numberOfServices      0.318087
numberOfInsuarance    0.944381
numberOfLicense       0.161153
monthlyCost           1.000000
Unnamed: 5                 NaN
Unnamed: 7           -0.300376
Name: monthlyCost, dtype: float64

In [5]:
data = data.drop(columns=['ID','Unnamed: 5','Unnamed: 6','Unnamed: 7'])

In [6]:
data.head()

   numberOfServices  numberOfInsuarance  numberOfLicense  monthlyCost
0                 1                   1                1       100000
1                 2                   1                1       125000
2                 3                   1                1       150000
3                 4                   1                1       175000
4                 5                   1                1       200000

In [25]:
data.info()
data = pd.get_dummies(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   numberOfServices    1050 non-null   int64
 1   numberOfInsuarance  1050 non-null   int64
 2   numberOfLicense     1050 non-null   int64
 3   monthlyCost         1050 non-null   int64
dtypes: int64(4)
memory usage: 32.9 KB

In [52]:
x = data.drop('monthlyCost',axis=1).values
y = data['monthlyCost']

In [9]:
pip install sklearn

Collecting sklearn
  Using cached sklearn-0.0-py2.py3-none-any.whl
Collecting scikit-learn
  Using cached scikit_learn-1.0.2-cp37-cp37m-win_amd64.whl (7.1 MB)
Collecting joblib>=0.11
  Using cached joblib-1.1.0-py2.py3-none-any.whl (306 kB)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting scipy>=1.1.0
  Using cached scipy-1.7.3-cp37-cp37m-win_amd64.whl (34.1 MB)
Requirement already satisfied: numpy>=1.14.6 in d:\uni\fleet_track_cost_predictor\model\env\lib\site-packages (from scikit-learn->sklearn) (1.21.6)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn, sklearn
Successfully installed joblib-1.1.0 scikit-learn-1.0.2 scipy-1.7.3 sklearn-0.0 threadpoolctl-3.1.0
Note: you may need to restart the kernel to use updated packages.

In [53]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

In [54]:
x_train.shape, x_test.shape

((787, 3), (263, 3))

In [55]:
def model_acc(model):
    model.fit(x_train, y_train)
    acc = model.score(x_test, y_test)
    print(str(model)+ ' --> ' +str(acc))

In [56]:


from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
model_acc(rf)

RandomForestRegressor() --> 0.9977345418429805

In [57]:
from sklearn.model_selection import GridSearchCV

parameters = {'n_estimators':[10, 50, 100],
              'criterion':['squared_error','absolute_error','poisson']}

grid_obj = GridSearchCV(estimator=rf, param_grid=parameters)

grid_fit = grid_obj.fit(x_train, y_train)

best_model = grid_fit.best_estimator_

best_model.score(x_test, y_test)

0.9975490913901538

In [58]:
import pickle
with open('predictor.pickle', 'wb') as file:
    pickle.dump(best_model, file)

In [59]:
pred_value = best_model.predict([[4,1,10]])
pred_value

array([234875.])

In [51]:
x_train.Columns

AttributeError: 'DataFrame' object has no attribute 'Columns'